.app {
    font-family: Ubuntu, sans-serif;
    height: 100vh;
    background: linear-gradient(#c828ac, #00074a);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}