.stats-container {
    height: 100vh;
    width: 100vw;
    opacity: 100%;
    transition: opacity 2s;
}

.stats-container.hidden {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}

.bg-morning {
    background: linear-gradient(#4effe2, #193c00);
}

.bg-afternoon {
    background: linear-gradient(#ffbb67, #810000);
}

.bg-evening {
    background: linear-gradient(#4dcca9, #00054e);
}

.bg-night {
    background: linear-gradient(#000f26, #5321b4);
}

.avatar {
    width: 20px;
}