.container {
    height: 100vh;
    width: 100%;
    opacity: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 2s;
}

.contentContainer {
    height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container.hidden {
    height: 0;
    overflow: hidden;
    opacity: 0;
}

.bgMorning {
    background: linear-gradient(#4effe2, #193c00);
}

.bgAfternoon {
    background: linear-gradient(#ffbb67, #810000);
}

.bgEvening {
    background: linear-gradient(#4dcca9, #00054e);
}

.bgNight {
    background: linear-gradient(#000f26, #5321b4);
}

.infoContainer {
    text-align: center;
    font-size: 1.2rem;
    color: white;
    vertical-align: middle;
}

.infoContainer a {
    color: white;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
}

.infoContainer a:hover {
    text-shadow: rgba(255,255,255,0.5) 0 0 10px;
}

.avatar {
    width: 1.2rem;
    margin-right: 0.5rem;
    border: 2px solid rgba(255, 255, 255, 0.5);
    vertical-align: middle;
}

.infoType {
    font-size: 8rem;
    line-height: 8rem;
    text-transform: capitalize;
    text-shadow: rgba(255,255,255,0.5) 0 0 10px;
}

.chartContainer {
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.chartColumnContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1rem;
    margin: 2px;
}

.chartColumnPercent, .chartColumnHour {
    line-height: 1.2rem;
    vertical-align: middle;
    color: white;
    align-items: center;
    opacity: 0;
}

.chartColumnContainer:hover .chartColumnPercent,
.chartColumnContainer:hover .chartColumnHour {
    opacity: 1;
}

.chartColumnContainer:active .chartColumnPercent,
.chartColumnContainer:active .chartColumnHour {
    opacity: 1;
}

.chartColumnData {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.chartColumnBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.chartSquare {
    background: white;
    width: 1rem;
    height: 1rem;
    margin: 2px;
    opacity: 0.5;
}

.chartColumnContainer:hover .chartSquare {
    opacity: 1;
    box-shadow: rgba(255,255,255,0.5) 0 0 10px;
}

.chartColumnContainer:active .chartSquare {
    opacity: 1;
    box-shadow: rgba(255,255,255,0.5) 0 0 10px;
}

.footer {
    font-size: 1rem;
    color: white;
    text-align: center;
}

.footerHighlight {
    text-shadow: rgba(255,255,255,0.5) 0 0 10px;
}

.footerInfo {
    opacity: 0.5;
}

@media(max-width: 767px) {
    .infoType {
        font-size: 18vw;
    }

    .chartColumnContainer {
        width: 2.3vw;
        margin: 2px;
    }

    .chartSquare {
        width: 2.3vw;
        height: 2.2vw;
        margin: 2px;
    }
}